<app-navbar></app-navbar>
<form class="form" *ngIf="profileForm" [formGroup]="profileForm" (submit)="submit()">
  <label for="username">Username</label>
  <input id="username" type="text" placeholder="Username" formControlName="username">
  <label for="Email">Email</label>
  <input id="email" type="text" placeholder="Email" formControlName="email">
  <label for="username">Age</label>
  <input id="age" type="number" placeholder="age" formControlName="age">
  <button class="submit" type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

